flask
yfinance
pandas
requests
werkzeug
python-dotenv
sqlalchemy
Flask-SQLAlchemy
flask-login
xlrd
numpy
scikit-learn
lightgbm
pytest
psycopg2-binary
gunicorn
Flask-Migrate
alembic
rq
redis
portalocker